.control {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6d9;
  height: 30px;
  cursor: pointer;
  width: 30px;
  border-radius: 50%;
  transition: all 0.2s;
}
.control:hover {
  background: rgb(65, 145, 99);
  color: #eee;
  transform: scale(1.1);
}
.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
}
.valueDisplay {
  user-select: none;
  font-size: 2em;
}

.title {
  user-select: none;
  text-align: left;
}

.container {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  border-left: none;
  border-right: none;
}
